body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Start Pagina */

header {
    background-color: white;
    margin: 5% 10% 0%;
    padding: 70px 92px 35px 92px !important;
}

#logo {
    height: 56px;
    width: 331px;
}

#votingTitle {
    font-size: 20px;
    font-weight: bold;
}

#votingSubTitle {
    font-size: 22px;
    font-weight: bold;
    color: #01b4dc;
    line-height: 1.3em;
    padding: 20px 0;
    margin-bottom: 40px;
}

.startBtn {
    float: right;
    margin-top: 7px;
    width: 188px;
    height: 68px;
    font-size: x-large;
    font-weight: bold;
}

.startBtn:hover {
    background-color: #018aa9 !important;
    color: white !important;
}

.rowContainer {
    display: table;
    max-width: 330px;
    padding-bottom: 50px;
}

.rowImage {
    float: left;
    width: 50px;
}

.rowText {
    margin-top: 45px;
    padding-left: 20px;
}

.info{
    background-color: #F9F9F9;
    margin: 0% 10%;
    padding: 20px 92px 35px 92px !important;
    border-top: 2px dotted;
}

#stemtrackerImage{
    width: 48%;
    opacity: .7;
    border-bottom: 2px solid transparent;
    margin-bottom: 1em
}

.politicalParties{
    background-color: #01B4DC;
        margin: 0% 10%;
    padding: 20px 92px 35px 92px !important;
}

#eenVandaagLogo {
margin-top: 20px;
width: 200px;
height: auto;
}

.kandidaat {
    background-color: white;
    border-radius: 50%;
    display: block;
    padding:2px;
    width: 45px;
    float: left;
    margin-left: 8px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
}

.kandidaat:hover{
    box-shadow: rgba(0,0,0,0.8) 0 0 5px;
    transform: scale(1.8);
    cursor: pointer;
}

.image{
    width: 45px;
}

.notUpForElection{
    margin-top: 80px;
}

h5 {
    color:white;
}


/* Standpunten Pagina */

#standPage {
    display: none;
}

.progressBar {
    height: 24px;
    width: 3.33%;
    background-color: rgb(1, 180, 220);
}

.backButton {
    border-radius: 50%
}